TZ=UTC
PORT=3006
HOST=localhost
LOG_LEVEL=info
APP_KEY=replace-with-a-32-char-app-key
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5436
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=sfmc_production
DB_SSL=false
